h1 {
  text-align: center;
}
form {
  margin-bottom: 0;
}
.button {
  display: block;
  font-size: 36pt;
  width: 100%;
  height: 25%;
}
.msg {
  font-size: 36pt;
  width: 100%;
  height: 30%;
  text-align: center;
}
.fail {
  color: black;
  background-color: red;
}
.success {
  color: black;
  background-color: #40FF40;
}
.active {
  color: black;
  background-color: yellow;
}
#last-pages li {
  display: inline-block;
}
