<html>
  <head>
    <title>Most recent scan</title>
    <link rel="stylesheet" type="text/css" href="static/autoscan.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>
  <body>
    <button class="button" onclick="javascript:window.location = '.'">Back to start</button>
    <ol id="last-pages">
      {{range .Pages}}
        <li><a href="{{.URL}}"><img src="{{.ThumbURL}}"></a></li>
      {{end}}
    </ol>	  
  </body>
</html>
