<html>
  <head>
    <title>Autoscan</title>
    <link rel="stylesheet" type="text/css" href="static/autoscan.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>
  <body>
    <form action="scan" method="post">
      <input class="button scan-button" disabled type="submit" name="single" value="Single sided" />
      <input class="button scan-button" disabled type="submit" name="double" value="Double sided" />
    </form>
    <button class="button" onclick="javascript:window.location = 'status'">Show status</button>
  </body>
</html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="static/root.js"></script>
